body {
  background: #f4f2ed;
  font: 12px/1.3em Helvetica; }

table {
  border: 1px solid grey;
  background: #cccccc;
  border-collapse: collapse;
  width: 90%;
  margin: 1em; }

table.source, pre, code {
  font: 11px/1.2em Menlo; }

td pre {
  margin: 0; }

.summary {
  margin-bottom: 1em;
  background: #e0dedb; }

.summary tbody tr:hover {
  background: #cccccc; }

.summary thead {
  background: #666666;
  color: white; }

.summary tr {
  text-align: left; }

.summary th, .summary td {
  padding: 0.5em; }

.excluded {
  background: #e0dedb; }

.unran {
  background: #ce8b8c; }

.ran {
  background: #bed2be; }
